<!-- views/index.ejs -->

<%- include("templates/header.ejs", {title: "LMS - Home" }) %>
<div class="whole-content">
    <%- include("templates/navbar.ejs") %>
    <div class="content">
        <h1>Loan Management System</h1>
    </div>
</div>
<%- include("templates/footer.ejs") %>