/* /public/css/navbar.css */

.left-nav {
    width: 250px;
    min-height: 100vh;
    background: #1f2937;
    color: white;

    display: flex;
    flex-direction: column;

    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
}

.system-title {
    padding: 25px 20px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: #111827;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.left-nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
  
    transition: .2s
}

.left-nav a:hover {
    background-color: #374151;
}

.left-nav a.active {
    background: #2563eb;
}

.sub-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background: transparent;
}

.sub-nav a {
    display: block;
    width: 100%;
    padding: 12px 20px 12px 40px;
}

.sub-nav a:hover {
    background: #374151;
}

.logout-link {
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, .1);
}