<nav class="left-nav">
    <a href="/">Home</a>
    <a href="#" id="loansLink">Loans</a>
    <div class="sub-nav" id="loanSubMenu">
        <a href="/loans">View Loans</a>
        <a href="/upload-loan">Upload Loan</a>
    </div>
</nav>